:root {
  --yellow: #ff8504;
  --black: #33343f;
  --paragraph: #4d4d4d;
  --bg-white: #f4f4f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  overflow-x: hidden;
}
.container {
  max-width: 1547px !important;
}

/* Header */
.navbar {
  height: 150px;
}
.navbar-collapse {
  background: #fff;
  width: 100%;
  top: 12%;
  left: 0px;
}
.navbar-brand {
  width: 22%;
}
.navbar-brand img {
  max-width: 325px;
  width: 100%;
}
.navbar-collapse {
  flex-grow: 0 !important;
  gap: 30px;
}
a.nav-link {
  color: var(--black) !important;
  text-transform: uppercase;
  font-size: 18px;
}
.td-btn-signin {
  background-color: var(--yellow);
  color: var(--black);
  border: 1px solid var(--yellow);
  padding: 9px 31px;
  border-radius: 30px;
  text-decoration: none;
}
.td-btn-signin:hover {
  background: transparent;
  color: var(--black);
}
.td-btn-signup {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--yellow);
  padding: 9px 31px;
  border-radius: 30px;
  text-decoration: none;
}
.td-btn-signup:hover {
  background: var(--yellow);
  color: var(--black);
}

/* pricing plans */
.td-page-title {
  background-color: var(--yellow);
}
.td-page-title h2 {
  color: var(--black);
  font-size: 72px;
  font-weight: 700;
  padding-block: 96px;
}

/* pricing tables */
.td-tables-container {
  max-width: 1560px !important;
}
.td-pricing-tables {
  background-color: var(--bg-white);
  padding-block: 60px;
}
.td-table-box {
  background-color: #fff;
  padding-block: 68px;
}
.td-pricing-tables .nav-link {
  color: #33343f !important;
  font-size: 19.312px;
  font-weight: 500;
  padding: 12px 33px !important;
  background-color: var(--bg-white) !important;
}
.td-pricing-tables .nav-link.active {
  color: var(--black) !important;
  background-color: var(--yellow) !important;
}
.td-table {
  background-color: var(--bg-white);
  border-radius: 10px;
  max-width: 305px !important;
  padding: 80px 20px;
  margin-top: 32px;
}
.td-table-title {
  color: var(--black);
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 30px;
}
.td-table-price {
  color: var(--black);
  font-size: 64.374px;
  font-weight: 700;
  line-height: 77px;
}
.td-table-price span {
  color: var(--paragraph);
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
}
.td-table-desc {
  color: var(--paragraph);
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  padding-block: 30px;
}
.td-table-btn {
  font-size: 19px;
  font-weight: 500;
  background-color: var(--yellow);
  border-radius: 10px;
  padding: 12px 23px;
  border: 1px solid var(--yellow);
  outline: 0;
}
.td-table-btn:hover {
  background-color: transparent;
}
.td-table-btn a {
  text-decoration: none;
  color: var(--black);
}
.td-table-btn a:hover {
  color: var(--black);
}
.td-table:nth-child(2) {
  background-color: var(--black);
  color: #fff;
}
.td-table:nth-child(2) .td-table-btn a {
  text-decoration: none;
  color: var(--bg-white);
}
.td-popular-btn {
  border: 1px solid var(--yellow);
  border-radius: 32px;
  background-color: transparent;
  padding: 6px 12px;
  font-size: 13px;
}
.td-popular-btn:hover {
  background-color: var(--yellow);
}
.td-best-btn {
  border: 1px solid var(--yellow);
  border-radius: 32px;
  background-color: var(--yellow);
  padding: 6px 12px;
  font-size: 13px;
}
.td-best-btn:hover {
  background-color: transparent;
}
.td-btns-position {
  top: 25px;
  left: 0;
  right: 0;
}

/* footer  */
footer {
  background-color: var(--black);
  padding-top: 50px;
  padding-bottom: 30px;
}
footer img {
  padding-bottom: 30px;
}
.footer-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer-nav a:hover {
  color: var(--yellow);
}
p.footer-bottom {
  font-size: 18px;
  font-weight: 400;
}

/* Mobile Responsive */
@media screen and (max-width: 767px) {
  .navbar .navbar-brand {
    width: 70% !important;
  }
  .navbar {
    height: unset;
  }
  .navbar-nav {
    gap: 0;
  }
  .navbar .nav-item,
  .navbar .nav-item:hover {
    width: 100%;
    text-align: center;
  }
  .navbar .nav-link.active,
  .navbar .nav-item:hover {
    background: var(--yellow);
  }
  /* .navbar-collapse {
    position: fixed;
  } */
}
